.wrap {
  display: flex;
  color: #ffffff;

  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrap2 {
  min-width: 250px;
  /* width: 1155px; */
  /* padding: 100px; */
  /* width: 269px;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -700px; */
}


.contents {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vmax;
  line-height: 160%;
  /* or 38px */

  display: flex;
  align-items: center;

  letter-spacing: 0.03em;

  color: #ffffff;
}

@media (max-width : 800px) {
  .contents{
    font-size: 1.7vmax;
  }
}
