@font-face {
  font-family: lato;
  src: url(./static/Lato-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  text-align: left;
  background-color: #0e061d;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
   width: 0;
}

p {
  margin: 0;
}

.App{
  scroll-behavior: smooth;
}

*{
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  text-align: left;
  background-color: #0e061d;
  font-family:"'Poppins', sans-serif",;
}

h1,h2 {
  margin:0;
  font-size: 4.5rem;
  font-family:'Poppins', sans-serif;
  color:#F9363A;
}

a{
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover{
  color:#F9363A !important
}

.heading{
  padding: 100px 0 60px 0;
}

.heading h1{
  margin:0;
  font-size: 4vmax;
  font-family:'Poppins', sans-serif;
  color:#F9363A;
}

.heading p{
  color:#ffffff;
  font-family: 'Poppins',sans-serif;
  margin:0;
  font-size:1.8vmax;
  opacity:0.7;
  line-height: 0
}

.wrapper-container{
  padding: 0 170px;
}

#speakers{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#speakers::-webkit-scrollbar {
  display: none;
}

@media (max-width : 960px) {
  .wrapper-container{
    padding: 0 60px;
  }

  .heading{
    padding: 60px 0 20px;
  }

}

@media (max-width:600px) {
  .x{
    height: 30vh !important;
  }

  .banner{
    height: 12vh !important;
    padding: 0 2vw !important;
  }

  .banner span{
    font-size: 5vw !important;
  }

  .dates{
    height: 50px !important;
    font-size: 3.7vw !important;
  }

  .register{
    font-size: 3.7vw !important;
  }

  .triangle{
    border-bottom: 25px solid transparent !important;
    border-top: 25px solid transparent !important;
    border-right: 25px solid #0e061d !important;
  }
}

@media (max-width:450px) {
  .wrapper-container{
    padding: 30px;
  }
}
