@font-face {
  font-family: lato;
  src: url(./static/Lato-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  text-align: left;
  background-color: #0e061d;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
   width: 0;
}

h2, p {
  margin: 0;
}

.App{
  scroll-behavior: smooth;
}

